.#{$prefix} {
    &_navbar {
        $navbar_selector: &;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;

        display: flex;
        justify-content: space-between;

        padding: 2.5rem;
        margin: 0;
        transition: $transition_timeout;


        &_toggler {
            position: relative;
            z-index: 999;
            display: none;
        }


        .container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: $transition_timeout;

            &::before,
            &::after {
                content: "";
                transition: $transition_timeout;
                position: absolute;
            }
        }

        &_brand {
            display: flex;
            align-items: center;
            justify-content: center;

            &_img {
                min-height: 100%;
            }
        }

        &_nav {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.sticky {
            padding: 0;

            #{$navbar_selector}_brand_logo {
                height: 38px
            }

            .container {
                background-color: $white_color;
                padding: 1.2rem 1.7rem;
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
                box-shadow: 0 20px 60px rgba(62, 62, 62, 0.08);


                &::before,
                &::after{
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 100%;
                    width: 50px;
                    height: 50px;
                    z-index: 2;
                }

                &::before {
                    background-image: url(../img/icons/curve-left.svg);
                }

                &::after {
                    background-image: url(../img/icons/curve-right.svg);
                    left: auto;
                    right: 100%;
                }
            }
        }
    }

    &_nav {
        $nav_selector: &;

        &_item {
            position: relative;
            padding: 0.5rem 0.8rem;
            transition: $transition_timeout;

            &.active,
            &:active,
            &:hover {
                #{$nav_selector}_link {
                    color: #257ffc;

                    &::after {
                        width: calc(100% - (0.8rem * 2));
                    }
                }
            }

            &:last-child {
                padding-right: 0;
            }
        }
        
        &_link {
            font-size: 0.9375rem;
            font-weight: 400;
            color: #222222;
            transition: $transition_timeout;

            &::after {
                content: "";
                position: absolute;
                left: 0.84375rem;
                right: 0.84375rem;
                bottom: 0;
                width: 0;
                border-bottom: 2px solid #257ffc;
                transition: $transition_timeout;
            }
        }
    }
}