.#{$prefix} {
	&_text_transparent {
		color: $transparent_color
	}


	&_text_white {
		color: $white_color
	}


	&_text_primary {
		color: $primary_color
	}


	&_text_dark {
		color: $dark_color
	}


	&_text_grey_1 {
		color: $grey_1_color
	}


	&_text_grey_2 {
		color: $grey_2_color
	}


	&_text_grey_3 {
		color: $grey_3_color
	}


	&_bg_transparent {
		color: $transparent_color
	}


	&_bg_white {
		color: $white_color
	}


	&_bg_primary {
		color: $primary_color
	}


	&_bg_dark {
		color: $dark_color
	}


	&_bg_grey_1 {
		color: $grey_1_color
	}


	&_bg_grey_2 {
		color: $grey_2_color
	}


	&_bg_grey_3 {
		color: $grey_3_color
	}
}