// JosefinSans - Bold 700
@include font-face('Josefin Sans', '../fonts/Bold/JosefinSansBold', 700, normal, (eot, woff2, woff, ttf, svg));
@include font-face('Josefin Sans', '../fonts/BoldItalic/JosefinSansBoldItalic', 700, italic, (eot, woff2, woff, ttf, svg));

// JosefinSans - SemiBold 600
@include font-face('Josefin Sans', '../fonts/SemiBold/JosefinSansSemiBold', 600, normal, (eot, woff2, woff, ttf, svg));
@include font-face('Josefin Sans', '../fonts/SemiBolditalic/JosefinSansSemiBolditalic', 600, italic, (eot, woff2, woff, ttf, svg));

// JosefinSans - Medium 500
@include font-face('Josefin Sans', '../fonts/Medium/JosefinSansMedium', 500, normal, (eot, woff2, woff, ttf, svg));
@include font-face('Josefin Sans', '../fonts/MediumItalic/JosefinSansMediumItalic', 500, italic, (eot, woff2, woff, ttf, svg));

// JosefinSans - Regular 400
@include font-face('Josefin Sans', '../fonts/Regular/JosefinSansRegular', 400, normal, (eot, woff2, woff, ttf, svg));
@include font-face('Josefin Sans', '../fonts/Italic/JosefinSansItalic', 400, italic, (eot, woff2, woff, ttf, svg));

// JosefinSans - Light 300
@include font-face('Josefin Sans', '../fonts/Light/JosefinSansLight', 300, normal, (eot, woff2, woff, ttf, svg));
@include font-face('Josefin Sans', '../fonts/LightItalic/JosefinSansLightItalic', 300, italic, (eot, woff2, woff, ttf, svg));

// JosefinSans - ExtraLight 200
@include font-face('Josefin Sans', '../fonts/ExtraLight/JosefinSansExtraLight', 200, normal, (eot, woff2, woff, ttf, svg));
@include font-face('Josefin Sans', '../fonts/ExtraLightItalic/JosefinSansExtraLightItalic', 200, italic, (eot, woff2, woff, ttf, svg));

// JosefinSans - Thin 100
@include font-face('Josefin Sans', '../fonts/Thin/JosefinSansThin', 100, normal, (eot, woff2, woff, ttf, svg));
@include font-face('Josefin Sans', '../fonts/ThinItalic/JosefinSansThinItalic', 100, italic, (eot, woff2, woff, ttf, svg));

